@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes colorChange {
    0% { background-color: #f2f2f2; }
    50% { background-color: #007bff; }
    100% { background-color: #f2f2f2; }
  }
  
  header {
    padding: 20px;
    text-align: center;
    animation: colorChange 3s ease-in-out infinite;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    animation: colorChange 3s ease-in-out infinite;
  }
  
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    animation: slideIn 0.5s ease-in-out;
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

 
  